@import './abstracts/variables';
@import './abstracts/mixins';
@import 'buttons';


.present-text {
    width: 290px;
    @include important-text;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 120px;

    @media screen and (min-width: 320px){
        width: 100%;
    }
    
    @media screen and (min-width: 481px){
        width: 100%;
        max-width: 709px;
        margin-bottom: 159px;
    }

    @media screen and (min-width: 993px) {
        width: 100%;
        max-width: 1200px;
        margin-bottom: 70px;
    }

    .present-text__title {
        @include important-text;
        width: 270px;
        font-weight: 700;
        font-size: 26px;
        line-height: 28px;
        text-transform: uppercase;
        font-family: $font-family__montserrat;
        color: #635C73;
        padding-bottom: 27px;

        @media screen and (min-width: 320px) {
            width: 100%;
        }

        @media screen and (min-width: 481px) {
            font-weight: 700;
            font-size: 42px;
            line-height: 42px;
        } 
        

        @media screen and (min-width: 993px) {
            font-weight: 700;
            font-size: 54px;
            line-height: 54px;
        }
    }

    .present-text__description {
        font-size: 14px;
        line-height: 20px;
        color: #323232;
        font-family: $font-family__lato;
        padding-bottom: 36px;
        
        @media screen and (min-width: 481px) {
            width: 100%;
            max-width: 689px;
            font-weight: 400;
            font-size: 21px;
            line-height: 32px;
        }

        @media screen and (min-width: 993px) {
            width: 100%;
            max-width: 906px;
        }
    }

    .present-text__buttons-wrap{
        width: 270px;
        @include important-text;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media screen and (min-width: 481px) {
            width: 100%;
            max-width: 370px;
            justify-content: space-between;
        }
    }
}

.full-page-wrap-present-text {
    top: 134px;
    padding-bottom: 134px;

    @media screen and (min-width: 481px) {
        top: 162px;
        padding-bottom: 162px;
    }

    @media screen and (min-width: 993px) {
        top: 133px;
        padding-bottom: 133px;
    }
}
