@import './abstracts/variables';
@import './abstracts/mixins';
@import 'buttons';

.pricing {
        @include important-text;
        flex-direction: column;

        box-sizing: border-box;
        padding-right: 10px;
        padding-left: 10px;

        background-image: url('../img/last-background.png');
        background-attachment: fixed;
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
    
        width: 100%;
        min-width: 290px;
        padding-bottom: 4px;

        @media screen and (min-width: 481px) {
            padding-top: 90px;
            padding-top: 79px;
            width: 100%;
            min-width: 620px; 
            padding-bottom: 94px;
        } 

        @media screen and (min-width: 993px) {
         padding-top: 112px;
         min-width: 1120px;
         padding-bottom: 30px;
        }
}

.pricing__title {
    width: 290px;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
    padding-bottom: 32px;
    font-family: $font-family__montserrat;
    
    @media screen and (min-width: 320px) {
        width: 100%;
    }

    @media screen and (min-width: 481px) {
        width: 561px;
        font-weight: 700;
        font-size: 42px;
        line-height: 44px;
        padding-bottom: 39px;
    }

    @media screen and (min-width: 600px) {
        width: 100%;
    }

    @media screen and (min-width: 1179px) {
        padding-bottom: 112px;
        font-size: 48px;
        line-height: 50px;
    }
}

.pricing__services-wrapper {
    @include important-text;
    flex-direction: column;
    box-sizing: border-box;

    @media screen and (min-width: 600px) {
        align-items: normal;
        width: 100%;
        max-width: 593px;
        flex-direction: row;
        flex-wrap: wrap;
    }

     @media screen and (min-width: 1179px) {
        width: 100%;
        max-width: 1200px;
        flex-direction: row;
    }
}

.pricing__service {
    box-sizing: border-box;
    width: 257px;
    height: 457px;
    background: #FFFFFF11;
    mix-blend-mode: normal;
    margin-bottom: 18px;
    font-family: $font-family__montserrat;
    @include important-text;
    flex-direction: column;
    padding-bottom: 66px;

    @media screen and (min-width: 481px) {
        margin-bottom: 30px;
    }

    

     @media screen and (min-width: 1179px) {
        margin-bottom: 0;
        margin-right: 15px;
    }
}

.pricing__service--padding-bottom{
    padding-bottom: 48px;
}

.pricing__service-wrap {
    @include important-text;
    flex-direction: column;
    box-sizing: border-box;
    width: 257px;
}

.pricing__service--margin-right{
    @media screen and (min-width: 481px) {
        margin-right: 0;
    }

@media screen and (min-width: 993px) {
        margin-right: 15px;
    }

        @media screen and (min-width: 1179px) {
            margin-right: 30px;
        }
}

.pricing__service-title {
    box-sizing: border-box;
    padding-top: 36px;
    padding-bottom: 36px;
    background: #ffffff1a;
    mix-blend-mode: normal;
    width: 257px;

    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 30px;

    @media screen and (min-width: 481px) {
        margin-bottom: 9px;
    }
    
     @media screen and (min-width: 993px) {
        margin-bottom: 10px;
    }
}


.pricing__service-price {
    font-weight: 700;
    font-size: 60px;
    line-height: 62px;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 15px;

    @media screen and (min-width: 992px) {
            line-height: 90px;
        }

        @media screen and (min-width: 993px) {
            margin-bottom: 11px;
        }
}

.pricing__service-duration {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding-bottom: 31px;
    color: #FFFFFF;
}

.pricing__service-delimiter {
    border: 3px solid #8D81AC;
    width: 60px;
    margin-bottom: 30px;
}

.pricing__service-description {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    width: 210px;
    margin-bottom: 43px;

}

.pricing__service-duration--padding-bottom{
    @media screen and (min-width: 481px) {
        padding-bottom: 24px;
    }
}

.pricing__service-description--padding{

    @media screen and (min-width: 481px) {
        padding-bottom: 71px;
        margin: 0;
    }
    
    @media screen and (min-width: 993px) {
        padding-bottom: 48px;
    }
}

.pricing-service-margin{
    @media screen and (min-width: 600px) {
            margin-right: 25px;
            margin-bottom:30px;
        }
    
                @media screen and (min-width: 1179px) {
                    margin-right: 15px;
                }
}

.pricing__service--position-relative{
    @media screen and (min-width: 481px) {
        position: relative;
        right: 8px;
        top: 41px;
    }

    @media screen and (min-width: 993px) {
        right: 0;
        top: 40px;
        padding-right: 0;
    }

        @media screen and (min-width: 1179px) {
           top: 0;
        }
}

/*active section*/
.pricing__service--active {
    top: 0;
    position: relative;
    width: 299px;
    height: 558px;
    background: #46304884;
    mix-blend-mode: normal;

    @media screen and (min-width: 481px) {
        // right: 31px;
        margin: 0px;
    }


@media screen and (min-width: 600px) {
    right: 31px;
}
     @media screen and (min-width: 1179px) {
        top: -50px;
        right: 15px;
    }
}

.pricing__service-wrap--active{
    @include important-text;
    text-align: center;
    position: relative;
}

.pricing__service-title--active{
    box-sizing: border-box;
    width: 299px;
    height: 106px;
    padding-top: 41px;
    padding-bottom: 36px;
    background: #00000011;
    margin-bottom: 7px;

    @media screen and (min-width: 992px) {
        margin-bottom: 5px;
    }
}

.pricing__service-price--active{
    font-size: 82px;
    line-height: 90px;

    @media screen and (min-width: 992px) {
        padding-bottom: 4px;
    }

}

.pricing__service-duration--active{
    padding-bottom: 33px;

    @media screen and (min-width: 992px) {
        padding-bottom: 22px;
    }
}

.pricing__service-description--active{
    line-height: 32px;
    margin-bottom: 71px;

    @media screen and (min-width: 992px) {
        margin-bottom: 83px;
    }
}
